import { ConnectionOptions } from 'mysql2'

interface AmsOptions {
  /**
   * Port to listen.
   */
  port: number,

  /**
   * Accept student who is not registered to DB or not.
   */
  acceptGuest: boolean,
}

// settings for this backend server and boushitsu Slackbot
const amsOptions: AmsOptions = {
  port: 3000,
  acceptGuest: true
}

// settings for connection to MySQL database
const dbOptions: ConnectionOptions = {
  host: 'localhost',
  port: 3306,
  user: '',
  password: '',
  database: '',
  waitForConnections: true // set true
}

export { amsOptions, dbOptions }
