---
# 詳細は別ファイルのconfig.tsを参照
# このプログラムの設定
amsOptions:
  port: 3000         # このサーバのポート
  acceptGuest: true  # 未実装
  logPath: 'logs'    # サーバのアクセスログ出力先フォルダ

# mysqlに渡す接続情報
dbOptions:
  host: "localhost"     # SQLサーバのホスト名
  port: 3306            # SQLサーバのポート名
  user: "username"      # SQLユーザのユーザ名
  password: "userpass"  # SQLユーザのパスワード
  database: "dbnametoconnect"  # DB名
